{{ define "main" }}

{{ template "header" }}

<body>
    <div class="grid">

        <button onclick="HiddenLearn(this);" class="left learnbtn">
            <div>
                <p class="learntext">Нажмите на черную кнопку чтобы увидеть перевод.</p>
                <p class="learntext">Выберите действие для карточки: показывать Реже или Чаще. Или просто далее,
                    если сложность
                    устраивает</p>
                <p class="learntext">Выберите Не показывать, если выучили слово. Оно останется в списке, и вы всегда
                    можете вновь
                    добавить его в показ.</p>
                <p class="learntext">Чтобы добваить слова просто заполните форму и нажмите Добавить</p>
                <p class="learntext">Чтобы скрыть эту подсказку нажмите на любую часть текста</p>
            </div>
        </button>

        <div class="">
            <center>
                <div class="maincards">
                    <button class="card one">
                        <p> {{ .Fword }}</p>
                    </button>
                    <div class="threebtn one">
                        <form action="/" target="">
                                <button onclick="HiddenTwoBtnText('twobtn');" class="btnnext">Реже</button>
                        </form>
                        <form action="/" target="">
                                <button onclick="HiddenTwoBtnText('twobtn');" class="btnnext">Далее</button>
                        </form>
                        <form action="/" target="">
                                <button onclick="HiddenTwoBtnText('twobtn');" class="btnnext">Чаще</button>
                        </form>
                    </div>
                    <button class="card one cardopacity" id="twobtn" onclick="ShowTwoBtnText(this);">
                        <p>{{.Sword }}</p>
                    </button>
                </div>
            </center>

            <center>
                <form action="/addwords" method="post" class="form">
                    <div>
                        <input type="text" name="firstword" id="firstword" class="inn" placeholder="Иностарнное слово">
                    </div>
                    <div>
                        <input type="text" name="secondword" id="secondword" class="inn" placeholder="Перевод">
                    </div>
                    <div>
                        <button class="btnadd">Добавить</button>
                    </div>
                </form>
            </center>
        </div>

        <div class="left">
            <form action="/" target="">
                <button onclick="HiddenTwoBtnText('twobtn');" class="hiddenword">Не показывать</button>
            </form>
        </div>
    </div>

</body>

{{ template "footer" }}

{{ end }}